**/.env/*
**/temp
*.onnx
**/.venv/*
**/.pytest_cache/*
**/__pycache__/*
**/video_miner_v2/*
**/video_miner/*
**/.cache/*
**/video_registry.yaml
**/output/*
**/run.yaml
**/run_configs/*
**/.devcontainer*
**/cpf/*
**/logs/*
**/data/*
*.env
**/*.egg-info/*
*.log
**/site/
*fabric_Setup/weed
*.pt
*.pth