**/.env/*
**/temp
*.onnx
**/.venv/*
**/.pytest_cache/*
**/__pycache__/*
**/video_miner_v2/*
**/video_miner/*
**/.cache/*
**/video_registry.yaml
**/output/*
**/run.yaml
**/run_configs/*
**/.devcontainer/*compose*
**/.devcontainer/dev_entrypoint.sh
**/.devcontainer/devcontainer.json
**/cpf/*
**/logs/*
**/data/*
*.env
**/*.egg-info/*
*.log
**/site/
*fabric_Setup/weed
*.pt
*.pth
*.sql
*.jpg
*.png
**/manifests/*
# .mailmap