IMAGE_NAME=nvidia-pytorch:25.06-py3
CONTAINER_NAME=nvpt-dm
DOCKERFILE_NAME="nvidia_pytorch.Dockerfile"
COMPOSE_FILE_NAME="compose.nvpytorch.yml"
SERVICE_NAME="data_miner"
DEVCONTAINER_NAME="nvpt-dm"
CODE=/media/data_2/vlm/code/data_miner
DATASET=/media/
HF_HOME=/media/data_2/all_cache/hf_home
PIXI_HOME=/media/data_2/all_cache/pixi_home
UV_CACHE_DIR=/media/data_2/all_cache/uv_cache
NVIDIA_VISIBLE_DEVICES=all
DISPLAY=$DISPLAY